
footer {
    color: #fff;
    background-color: #666;
    padding: 1rem;
    grid-area: footer;
    display: flex;
    justify-items: center;
    justify-content: center;
}

/* desktop screens */
@media screen and (min-width: 769px) {
    footer {
        grid-area: footer;
    }
}